@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
#user-prompt {
    text-align: center;
    border: 3px solid black;
    margin: 0% 25%;
    padding: 5px;
}

#user-prompt>a {
    margin-left: 10px;
    margin-right: 10px;
}

#landLinks>a {
    margin: 5px;
}