.song-item {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 85%;
    text-align: left;
    padding: 10px;
    display: inline-block;
    position: relative;
}

a:focus>.song-item, .song-item:hover {
    background-color: black;
    color: white;
}

.artist {
    word-wrap: break-word;
    display: inline-block;
    max-width: 100%;
    min-height: 2em;
    word-break: break-all;
}

#time {
    float: right;
}

.song-item>a {
    color: black;
    text-decoration: none;
}