@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
header {
  text-align: center;
  display: flex;
  flex-direction: column;
}

header>hr {
  width: 100%;
}

h1 {
  font-family: 'Bungee Shade', cursive;
  font-size: 2em;
}

.App {
  background-size: auto;
  height: inherit;
}

#home-link {
  margin: 20px;
}

a, a:visited, a:hover, a:active {
  color: black;
}

@media only screen and (min-width:850px) {
  h1 {
    font-size: 3em;
  }
}