.navLink {
    border: 1px solid black;
    border-right: none;
    margin: 0px;
    padding: 20px 60px;
}

.addFolder {
    border: 1px solid black;
    margin: 0px;
    padding: 20px 60px;
    margin: 8px;
}

.navLink:hover, .addFolder:hover {
    background-color: black;
    color: white;
}

#nav {
    position: absolute;
    z-index: 1;
    background-color: white;
    margin-top: 9%;
    height: inherit;
    border: 2px solid black;
}

#recent {
    font-family: 'Bungee Shade', cursive;
}

@media only screen and (min-width:850px) {
    #nav {
        position: inherit;
        z-index: 0;
        margin-top: 0%;
    }
}