.active>h2 {
    background-color: orange;
}

.navLink {
    border: 1px solid black;
    border-right: none;
    margin: 0px;
    padding: 20px 60px;
}

.addFolder {
    border: 1px solid black;
    margin: 0px;
    padding: 20px 60px;
    margin: 8px;
}

.navLink:hover, .addFolder:hover, a:focus>article {
    background-image: linear-gradient(to top right, rgb(111, 198, 255), pink);
    /* color: white; */
}

#navBar {
    height: inherit;
    border-right: 2px solid black;
}

#recent {
    font-family: 'Bungee Shade', cursive;
}

#b0715efe-ffaf-11e8-8eb2-f2801f1b9fd1 {
    margin-top: 20px;
}