.navLink {
    border: 1px solid black;
    border-right: none;
    margin: 0px;
    padding: 20px 60px;
}

.addFolder {
    border: 1px solid black;
    margin: 0px;
    padding: 20px 60px;
    margin: 8px;
}

.navLink:hover, .addFolder:hover {
    background-color: black;
    color: white;
}

#navBar {
    height: inherit;
    border-right: 2px solid black;
}

#recent {
    font-family: 'Bungee Shade', cursive;
}